# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
soundcanvas-env/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Audio (if you want to exclude large ones)
*.m4a
*.wav
