# Ignore Python virtual environments
soundcanvas-env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore audio files
*.m4a

# Python cache
__pycache__/
*.pyc

# VSCode settings (if you use VSCode)
.vscode/
